<button id="DROPButton" class="btn ricetta-pranzo mb-3">ELIMINA TUTTE LE RICETTE</button>
<button id="fresh" class="btn ricetta-pranzo mb-3">REFRESH</button>
<button id="loadJSON" class="btn btn-secondary mb-3">Carica JSON</button>
<button id="dwnJSON" class="btn btn-secondary mb-3">Scarica JSON</button>
<h2 class="display-4">Le Ricette</h2>
<h3 class="display-5">Aggiungi nuova ricetta:</h3>
<form id="newRecipeForm">
	<div class="form-group">
		<label for="Name">Nome Ricetta</label>
		<input type="text" class="form-control" name="Name" id="Name" required>
	</div>
	<div class="form-group" id="ingredienti-container">
		<label>Ingredienti</label>
		<div class="ingredient-input">
			<input type="text" class="form-control" id="ingrediente-display" list="lista-ingredienti" placeholder="Seleziona o scrivi un ingrediente...">
			<datalist id="lista-ingredienti"></datalist>
		</div>
		<button type="button" id="add-ingrediente" class="btn btn-secondary">Aggiungi Ingrediente</button>
		<input type="hidden" name="Ingredienti" id="Ingredienti">
	</div>

	<div class="row mb-3">
		<div class="col-2">
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="Temperatura" id="Temperatura1" required>
				<label class="form-check-label" for="Temperatura1">Ricetta Estiva</label>
			</div>
		</div>
		<div class="col-2">
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="Temperatura2" id="Temperatura2" required>
				<label class="form-check-label" for="Temperatura2">Ricetta Invernale</label>
			</div>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-2">
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="Orario1" id="Orario1" required>
				<label class="form-check-label" for="Orario1">Ricetta di Pranzo</label>
			</div>
		</div>
		<div class="col-2">
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="Orario2" id="Orario2" required>
				<label class="form-check-label" for="Orario2">Ricetta di Cena</label>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-2">
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="inProva" id="inProva" required>
				<label class="form-check-label" for="inProva">In Prova</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Nota">Nota</label>
		<input type="text" class="form-control" name="Nota" id="Nota" required>
	</div>
	<button id="submitButton" class="btn btn-primary">Aggiungi</button>
</form>
<hr />
<table id="legendTable" class="table table-bordered table-hover">
	<thead>
	<th>Nome</th>
	<th>Ingredienti</th>
	<th>Stagione</th>
	<th>Pasto</th>
	<th>Note</th>
	</thead>
	<tbody>
		{{#each legends}}
		<tr>
			<td>
				{{this/Name}}
			</td>
			<td>
				{{this/Ingredienti}}
			</td>
			<td>
				{{this/Temperatura}}
			</td>
			<td>
				{{this/Orario}}
			</td>
			<td>
				{{this/Note}}
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>


<script>
	document.addEventListener("DOMContentLoaded", (event) => {
		populateIngredientsDropdown(); // Nuova funzione per caricare gli ingredienti nel <select>
		caricaTavola();
		loadTableListeners();
		const displayInput = document.getElementById("ingrediente-display");
		displayInput.addEventListener('input', updateHiddenInput);
		const addIngredienteButton = document.getElementById("add-ingrediente");
		addIngredienteButton.addEventListener("click", addIngrediente);
	});

	const ingredientiMap = {};

	async function populateIngredientsDropdown() {
		try {
			const response = await fetch('/ingred');
			if (response.ok) {
				const ingredienti = await response.json();
				const dataList = document.getElementById("lista-ingredienti");

				ingredienti.forEach(ingrediente => {
					const option = document.createElement("option");
					option.value = ingrediente.Name;
					dataList.appendChild(option);

					ingredientiMap[ingrediente.Name] = ingrediente._id;
				});
			} else {
				console.log("Errore nel caricamento degli ingredienti.");
			}
		} catch (err) {
			console.log(`Errore nel fetch degli ingredienti: ${err}`);
		}
	}

	function addIngrediente() {
		const container = document.getElementById("ingredienti-container");
		const newIngredientInput = document.createElement("div");
		newIngredientInput.classList.add("ingredient-input");

		newIngredientInput.innerHTML = `
			<input type="text" class="form-control" list="lista-ingredienti" placeholder="Seleziona o scrivi un ingrediente...">
			<button type="button" class="btn btn-danger remove-ingrediente">Rimuovi</button>
		`;

		container.appendChild(newIngredientInput);

		newIngredientInput.querySelector(".remove-ingrediente").addEventListener("click", () => {
			container.removeChild(newIngredientInput);
			updateHiddenInput();
		});
	}

	function updateHiddenInput() {
		const hiddenInput = document.getElementById("Ingredienti");
		const ingredientInputs = document.querySelectorAll(".ingredient-input input");

		const ingredientValues = Array.from(ingredientInputs).map(input => input.value).filter(val => val);
		hiddenInput.value = ingredientValues.join(",");
	}


	function loadTableListeners() {
		const rows = document.querySelectorAll("#legendTable tbody tr");
		rows.forEach(row => {
			row.addEventListener("click", () => {
				const ricettaId = row.dataset.id;
				console.log("clicco: " + row.dataset.id);
				if (ricettaId) {
					console.log("apro ricetta: " + ricettaId);
					window.location.href = `/ricetta/${ricettaId}`;
				} else {
					console.error("ID ricetta non trovato sulla riga.");
				}
			});
		});
	}

	//dwnJSON
	document.getElementById("dwnJSON").addEventListener("click", async (e) => {
		e.preventDefault();

		try {
			const recipeData = {
				Name: 'pino',
			};
			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(recipeData),
				headers: { "Content-Type": "application/json" }
			};
			const response = await fetch("/ricet", fetchConfigData);
			if (!response.ok) {
				throw new Error(`Errore server: ${response.status}`);
			}
			const data = await response.json();
			const jsonString = JSON.stringify(data, null, 2);
			const blob = new Blob([jsonString], { type: "application/json" });
			const url = URL.createObjectURL(blob);
			const link = document.createElement('a');
			link.href = url;
			const date = new Date().toISOString().split('T')[0];
			link.download = `ricette_backup_${date}.json`;
			document.body.appendChild(link);
			link.click();
			document.body.removeChild(link);
			URL.revokeObjectURL(url);

		} catch (err) {
			console.error("Errore durante il download:", err);
			alert("Impossibile scaricare il file JSON: " + err.message);
		}
	});

	// loadJSON
	const btnLoad = document.getElementById('loadJSON');

	const fileInput = document.createElement('input');
	fileInput.type = 'file';
	fileInput.accept = '.json';

	btnLoad.addEventListener('click', () => {
		fileInput.click();
	});

	fileInput.addEventListener('change', (event) => {
		const file = event.target.files[0];

		if (file) {
			caricaJSON(file);
		}
	});

	async function caricaJSON(file) {
		const testo = await file.text();
		const data = JSON.parse(testo);
		const listaRicette = Array.isArray(data) ? data : (data.ricette || []);

		for (let i = 0; i < listaRicette.length; i++) {
			const ricetta = listaRicette[i];

			console.log(`--> Elaborazione elemento ${i} SU ${listaRicette.length}:`, JSON.stringify(ricetta));
			if (!ricetta.Note) {
				ricetta.Note = " ";
			}
			const recipeData = {
				Name: ricetta.Name,
				Ingredienti: ricetta.Ingredienti,
				Temperatura: ricetta.Temperatura,
				Orario: ricetta.Orario,
				Prova: false,
				Note: ricetta.Note || ""
			};

			const controller = new AbortController();
			const timeoutId = setTimeout(() => controller.abort(), 1000);

			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(recipeData),
				headers: { "Content-Type": "application/json" },
				signal: controller.signal
			};

			try {
				const response = await fetch("/NricettaJSN", fetchConfigData);
				clearTimeout(timeoutId);

				if (response.ok) {
					console.log(`Elemento ${i} caricato!`);
				} else {
					console.error(`Errore Server (Elem ${i}): ${response.status}`);
				}

			} catch (err) {
				if (err.name === 'AbortError') {
					console.error(`Timeout: Il server non ha risposto in tempo per l'elemento ${i}`);
				} else {
					console.error(` Errore Generico (Elem ${i}):`, err);
				}
			}
		}
	}

	// DROPButton
	document.getElementById("DROPButton").addEventListener("click", async (e) => {
		e.preventDefault();

		try {
			const recipeData = {
				Name: "ciao",
			};
			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(recipeData),
				headers: { "Content-Type": "application/json" }
			};
			console.log("config data: " + fetchConfigData.body);

			const response = await fetch("/DELETETUTTOric", fetchConfigData);
			if (response.ok) {
				const recipes = await response.json();
				loadTableWithRecipes(recipes);
			} else {
				console.log("Error with the response data");
			}
		} catch (err) {
			console.error(`Error: ${err}`);
		}
	});

	// AggiungiNuovaRicetta
	document.getElementById("submitButton").addEventListener("click", async (e) => {
		e.preventDefault();

		try {
			const Name = document.getElementById("Name").value;
			const nota = document.getElementById("Nota").value;

			const hiddenInputs = document.querySelectorAll(".ingredient-input input");
			const ingredienti = Array.from(hiddenInputs).map(input => {
				const ingredienteNome = input.value;
				const ingredienteId = ingredientiMap[ingredienteNome];

				return ingredienteId ? ingredienteId : ingredienteNome;
			});

			console.log(Array.from(hiddenInputs));
			const Temperatura1 = document.getElementById("Temperatura1").checked;
			const Temperatura2 = document.getElementById("Temperatura2").checked;
			const Orario1 = document.getElementById("Orario1").checked;
			const Orario2 = document.getElementById("Orario2").checked;
			const Orario = (Orario1 ? 1 : 0) + (Orario2 ? 2 : 0);
			const Temperatura = (Temperatura1 ? 1 : 0) + (Temperatura2 ? 2 : 0);
			const prova = document.getElementById("inProva").checked;
			console.log("t1= " + Temperatura1 + " T2: " + Temperatura2 + " Tot: " + Temperatura);
			const recipeData = {
				Name: Name,
				Ingredienti: ingredienti,
				Temperatura: Temperatura,
				Orario: Orario,
				Note: nota,
				Prova: prova
			};
			console.log(JSON.stringify(recipeData));

			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(recipeData),
				headers: { "Content-Type": "application/json" }
			};
			console.log("config data: " + fetchConfigData.body);

			const response = await fetch("/Nricetta", fetchConfigData);
			if (response.ok) {
				const recipes = await response.json();
				loadTableWithRecipes(recipes);
			} else {
				console.log("Error with the response data");
			}
		} catch (err) {
			console.error(`Error: ${err}`);
		}
	});

	async function caricaTavola() {
		try {
			const recipeData = {
				Name: 'pino',
			};
			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(recipeData),
				headers: { "Content-Type": "application/json" }
			};
			const response = await fetch("/ricet", fetchConfigData);
			if (response.ok) {
				const recipes = await response.json();
				loadTableWithRecipes((recipes));
			} else {
				console.log("Error with the response data");
			}
		} catch (err) {
			console.log(`Error: ${err}`);
		}
	}

	async function loadTableWithRecipes(recipes) {
		const tableBody = document.querySelector("#legendTable tbody");
		tableBody.innerHTML = "";

		for (const ricetta of recipes) {
			console.log("ricetta trovata: " + ricetta);
			const tr = document.createElement("tr");
			tr.dataset.id = ricetta._id;
			tr.style.cursor = "pointer";

			tr.classList.remove("cols-red", "cols-black");
			tr.classList.add(ricetta.Prova ? "cols-red" : "cols-black");


			const nameTd = document.createElement("td");
			nameTd.textContent = ricetta.Name;

			const ingredienteTd = document.createElement("td");
			const ingredientNames = await getIngNames(ricetta.Ingredienti);
			ingredienteTd.textContent = ingredientNames.join(", ");

			const temperaturaTd = document.createElement("td");
			switch (ricetta.Temperatura) {
				case 1:
					temperaturaTd.textContent = 'Estate';
					break;
				case 2:
					temperaturaTd.textContent = 'Inverno';
					break;
				default:
					temperaturaTd.textContent = 'OgniStagione';
			}
			const orarioTd = document.createElement("td");
			switch (ricetta.Orario) {
				case 1:
					orarioTd.textContent = 'Pranzo';
					break;
				case 2:
					orarioTd.textContent = 'Cena';
					break;
				default:
					orarioTd.textContent = 'OgniOra';
			}
			const noteTd = document.createElement("td");
			noteTd.textContent = ricetta.Note;

			tr.appendChild(nameTd);
			tr.appendChild(ingredienteTd);
			tr.appendChild(temperaturaTd);
			tr.appendChild(orarioTd);
			tr.appendChild(noteTd);
			tableBody.appendChild(tr);
		}

		loadTableListeners();
		document.getElementById("newRecipeForm").reset();
	}

	async function getIngNames(ingredientIds) {
		let ingredArray = [];
		for (let i = 0; i < ingredientIds.length; i++) {
			const ingData = {
				Id: ingredientIds[i],
			};
			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(ingData),
				headers: { "Content-Type": "application/json" }
			};
			const response = await fetch("/NomeIngr", fetchConfigData);
			if (response.ok) {
				const ingrediente = await response.json();
				let nm = 'noName';
				if (ingrediente != null) {
					ingredArray.push(ingrediente.Name);
				}
			} else {
				console.log("Error with the response data");
			}
		}
		return ingredArray;
	}

	async function refresh() {
		try {
			const payload = {};
			const controller = new AbortController();
			const timeoutId = setTimeout(() => controller.abort(), 2000);

			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(payload),
				headers: { "Content-Type": "application/json" }
			};

			const response = await fetch("/refreshRic", fetchConfigData);
			clearTimeout(timeoutId);

			if (response.ok) {
			} else {
				console.error(`Errore del server: ${response.status}`);
			}

		} catch (error) {
			console.error('Errore durante la pulizia:', error);
			alert('Si è verificato un errore durante la pulizia.');
		}
	}

	// fresh
	document.getElementById("fresh").addEventListener("click", async (e) => {
		e.preventDefault();

		try {
			console.log("pulisco: ");
			refresh();
		} catch (err) {
			console.error("Errore durante salvataggio", err);
		}
	});

</script>